@model Dinmore.Domain.Device

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Id"></label></dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            <label asp-for="DeviceLabel"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceLabel)
        </dd>
        <dt>
            <label asp-for="Exhibit"></label>
        <dd>
            @Html.DisplayFor(model => model.Exhibit)
        </dd>
        <dt>
            <label asp-for="Venue"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt>
            <label asp-for="Interactive"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interactive)
        </dd>
        <dt>
            <label asp-for="VerbaliseSystemInformationOnBoot"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerbaliseSystemInformationOnBoot)
        </dd>
        <dt>
            <label asp-for="SoundOn"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoundOn)
        </dd>
        <dt>
            <label asp-for="ResetOnBoot"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResetOnBoot)
        </dd>
        <dt>
            <label asp-for="VoicePackageUrl"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoicePackageUrl)
        </dd>
        <dt>
            <label asp-for="QnAKnowledgeBaseId"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QnAKnowledgeBaseId)
        </dd>

        <dt>
            QR Code
        </dt>
        <dd>
            <br />
            <qrcode alt="QR Code for @Model.Id" content="@Model.Id" />
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
