@model IEnumerable<Dinmore.Domain.Device>

@{
    ViewData["Title"] = "Devices";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceLabel)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exhibit)
            </td>
            <td>
                @Html.ActionLink(item.DeviceLabel, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
